<div class="container-right">
  <form class="ui large form">
    <div class="ui stacked segment color-form">
      <div class="field">
        <div class="ui left icon input">
          <i class="ion-person icon"></i>
          <input type="text" name="text" placeholder="Nombre de usuario">
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="ion-locked icon"></i>
          <input type="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="ui fluid large orange submit button">Iniciar Sesión</div>
    </div>
    <div class="recover-pass">
      <p>¿Olvidaste tu contraseña?</p>
      <a href="#">Recuperar cuenta</a>
    </div>
    <hr width="200px">
    <div class="not-account">
      <p>¿No tienes una cuenta? &nbsp;|</p><a  href="#" class=""> &nbsp;Registrate</a>

    </div>
  </form>
</div>
