<div class="container-right">
  <form class="ui large form">
    <div class="ui stacked segment color-form">
      <div class="field">
        <div class="ui left icon input">

          <input type="text" name="text" placeholder="Nombre">
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">

          <input type="text" name="text" placeholder="Nombre de usuario">
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">

          <input type="text" name="email" placeholder="Email">
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">

          <input type="text" name="text" placeholder="Número de celular">
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">

          <input type="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="ui fluid large orange submit button">Registrar</div>
    </div>
    <div class="recover-pass">
      <p>¿Tienes cuenta?</p>
      <button onclick="setRegister(false)">Iniciar sesión</button>
    </div>
  </form>
</div>
