<main class="main">
  <div class="main__container">
    <article class="container__article">
      <div class="article__colum-left">
        <div class="ui primary vertical pointing menu">
          <a onclick="setRegister(false)" class="item">
              Editar Perfil
          </a>
          <a class="item active">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
      <div *ngIf="editProfile"  class="article__container-right">

      </div>
    </article>
  </div>

</main>
