.container__article-publication {
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  padding-bottom: 16px;
  margin-bottom: 44px;
  position: relative;
  .article-publication__header-publication {
    height: 60px;
    padding: 16px;
    display: flex;
    .header-publication__perfil {
      display: flex;
      align-items: center;
      .perfil__user-photo {
        --size-photo: 40px;
        width: var(--size-photo);
        height: var(--size-photo);
        margin-right: 20px;
        .photo {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }

      }
    }
  }

  .article-publication__data-publication {
    --padding: 16px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    .data-publication__data-container {

      .likes-and-comments {
        display: flex;
        width: 100%;
        margin-top: 5px;
        .like-container {
          width: 30px;
          height: 30px;

          display: flex;
          justify-content: center;
          .icon-size {
            font-size: 30px;
          }
          .red-like:hover {
            color: red;
            cursor: pointer;
          }
        }
        .icon-comments {
          margin-left: 20px;
          &:hover {
            color: deepskyblue;
            cursor: pointer;

          }
        }
      }
      .many-likes-container {
        padding: 5px 5px 5px 0px;
      }
      .textarea {
        height: 56px;
      }
    }
  }

  .mainSection {
    max-width: 640px;
  }

  &.publicationPage {
    display: flex;
    max-width: 935px;
    margin: 100px auto auto;
    .mainSection {
      width: calc(100% - 335px);
      max-width: inherit;
    }
    .article-publication__data-publication {
      width: 335px;
      margin-top: 60px;
    }

    .article-publication__header-publication {
      position: absolute;
      right: 0;
      top: 0;
      width: 335px;
    }

    @media (max-width: 768px) {
      display: block;
      .mainSection {
        width: 100%;
      }
      .article-publication__data-publication {
        width: auto;
        margin-top: 0;
      }
      .article-publication__header-publication {
        position: static;
        width: auto;
      }
    }
  }

}
