<main class="main">
  <div class="main__container">
    <article class="container__article-publication">
      <header class="article-publication__header-publication">
        <div class="header-publication__perfil">
          <div class="perfil__user-photo">
            <img class="photo" src="assets/images/avatar.jpg"  alt="">
          </div>
          <div class="perfil__user-name">
            <h3>edteam</h3>
          </div>
        </div>
      </header>
      <div class="article-publication__publication-photo">
        <a href="" class="container-photo__link-img"><img class="publication-photo__img"src="assets/images/foto1.jpg" alt=""></a>
      </div>
      <footer class="article-publication__data-publication">
        <div class="data-publication__data-container">
          <div class="likes-and-comments">
            <div class="like-container">
              <i class="ion-android-favorite icon-size red-like"></i>
            </div>
            <div class="like-container icon-comments">
              <i class="ion-chatbubble-working icon-size blue-comment"></i>
            </div>

          </div>
        </div>
      </footer>
    </article>
    <div class="container__info">
      <div class="info__perfil">
        <div class="perfil__photo">

        </div>
        <div class="perfil__data">

        </div>
      </div>
    </div>
  </div>
</main>

