<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div class="container">
  <div class="container__content">
    <div class="content__avatar">
      <img class="avatar__img-photo" src="assets/img/avatar.jpg" alt="">
    </div>
    <div class="content__info-user">
      <div class="info-user__name-user">
       <h1 class="name-user__text-name">richandrb1997</h1>
      </div>
      <div class="info-user__data">
        <div class="data__publications">
          <strong>10</strong> publicaciones
        </div>
        <div class="data__followers">
          <strong>150 </strong><a [routerLink]="['home']"> seguidor</a>
        </div>
        <div class="data__followed">
          <strong>2000</strong><a [routerLink]="['home']"> seguidos</a>
        </div>
      </div>
      <div class="info-user__full-name">
        <strong>Richard Andree Ramos Benites</strong>
      </div>
    </div>
    <app-profile-time-line-photo></app-profile-time-line-photo>
  </div>



