<main class="main">
  <div class="main__container">
    <header class="container__user-container">
      <div class="user-container__photo-container">
        <div class="photo-container__img-container">
          <img src="assets/images/avatar.jpg" alt="" class="photo-avatar">
        </div>

      </div>
      <div class="user-container__data-user">
        <div class="data-user__id">
          <div class="name-user">
            <p>richandrb1977</p>
          </div>

          <div class="buttons">
            <div class="ui button button-animate">
              <a [routerLink]="['/user','upload',3]"> <strong>Nueva Publicación</strong></a>
            </div>
            <div class="ui button button-animate button-close-session">
              <!-- <a [routerLink]="['user','upload',3]"> <strong>Nueva Publicación</strong></a>-->
            </div>
          </div>

        </div>
        <ul class="data-user__data-items">
          <li class="data-items__item-data">
            20 publicaciones
          </li>
          <li class="data-items__item-data">
            4 <a [routerLink]="['home']" class="item-data__link">seguidores</a>
          </li>
          <li class="data-items__item-data">
            15 <a href="" class="item-data__link">seguidos</a>
          </li>
        </ul>
        <div class="data-user__full-name">
          <h3>Richard Ramos Benites</h3>
          <a [routerLink]="['/user','upload',3]"> <strong>Nueva Publicación</strong>
          </a>
        </div>
      </div>
    </header>
    <app-profile-time-line-photo></app-profile-time-line-photo>

  </div>
</main>



