.main{
  display: flex;
  justify-content: center;
  background: #FAFAFA;
  .main__container{
    background: red;
    max-width: 935px;
    width: 100%;

    .container__user-container{
      padding-bottom: 44px;
      display: flex;
     align-items: center;

      justify-content: space-between;
      .user-container__photo-container{
        height: 152px;
        width: 152px;
        width: 300px;
        background: blue;
        display: flex;
        justify-content: center;
        margin-right: 30px;
        .photo-avatar{
          border-radius: 50%;

        }
      }
      .user-container__data-user{
        width: calc(100% - 300px);
        background: green;
        .data-user__name-user{
          padding-bottom: 20px;
        }
        .data-user__data-items{
          display: flex;
          background: yellow;
          margin: 0px auto 20px 0px;
          padding-left: 0px;

          .data-items__item-data{
            list-style: none;
            font-size: 16px;
            margin-right: 40px;
            .item-data__link{
              color:#000000;
            }

          }
        }
      }
    }
  }
}
