.main{
  display: flex;
  justify-content: center;
  background: #FAFAFA;

  .main__container{
    padding-top: 44px;
    max-width: 935px;
    width: 100%;
    .container__user-container{
      padding-bottom: 44px;
      display: flex;
     align-items: center;
      justify-content: space-between;
      font-size: 30px;
      .user-container__photo-container{
        width: 300px;
        display: flex;
        justify-content: center;
        margin-right: 30px;
        .photo-container__img-container{
          height: 152px;

          width: 152px;
          .photo-avatar{
            border-radius: 50%;
            width:100%; height:100%

          }
        }

      }
      .user-container__data-user{
        width: calc(100% - 300px);

        .data-user__id{
          padding-bottom: 20px;
          display: flex;
          .name-user{
            width: 250px;

          }
         /* .buttons{
            width: calc(100% - 250px);
            .button-close-session{
              background: #F1D1CB;
              font-size: 18px;
              color: #646870;
              &:hover {
                background: #D6715C;
                color: white;
              }
            }
            .button-animate{
              font-size: 18px;
              color: #646870;
            }
          }*/
        }
        .data-user__data-items{
          display: flex;
          margin: 0px auto 20px 0px;
          padding-left: 0px;

          .data-items__item-data{
            list-style: none;
            font-size: 16px;
            margin-right: 40px;
            .item-data__link{
              color:#000000;
            }

          }
        }
        .data-user__full-name{
         /* .button-animate{
            display:block;
            justify-content: center;
            background: #B3C9F6;
            font-size: 18px;
            color: #646870;
            &:hover{
              background: #0d71bb;
              color: white;
            }
          }*/
        }

      }
    }
  }
}
