<main class="main">
  <div class="main__container" *ngIf="profile">
    <header class="container__user-container">
      <div class="user-container__photo-container">
        <label for="myPhoto" class="photo-container__img-container">
          <img #myProfilePhoto [src]="getURLPhoto(profile.path_photo)" alt=""
               class="photo-avatar">
        </label>
        <input type="file" id="myPhoto" accept="image/jpeg" style="display: none;"
               (change)="handleFileSelect($event)">
      </div>
      <div class="user-container__data-user">
        <div class="data-user__id">
          <div class="name-user">
            <p>{{profile.username}}</p>
          </div>
          <div class="ui button" *ngIf="!isUserLoggedProfile"
               (click)="follow(!profile.i_follow_it, profile.id_user)">
            <span *ngIf="profile.i_follow_it ">Siguiendo</span>
            <span *ngIf="!profile.i_follow_it ">Seguir</span>
          </div>
          <div class="ui button" *ngIf="isUserLoggedProfile" (click)="logout()"> Cerrar Sesión</div>
        </div>
        <ul class="data-user__data-items">
          <li class="data-items__item-data">
            {{profile.publications.length}} publicaciones
          </li>
          <li class="data-items__item-data">
            {{profile.followers.length}} <a [routerLink]="['home']" class="item-data__link">seguidores</a>
          </li>
          <li class="data-items__item-data">
            {{profile.followed.length}} <a href="" class="item-data__link">seguidos</a>
          </li>
        </ul>
        <div class="data-user__full-name" *ngIf="isUserLoggedProfile">
          <h3>{{profile.name}}</h3>
          <a [routerLink]="['/user','upload',3]" class="ui button"> <strong>Nueva Publicación</strong>
          </a>
        </div>
      </div>
    </header>
    <div class="profile_photo">
      <div class="profile-photo__container-row">
        <div class="profile-photo__container-photo" *ngFor="let publication of profile.publications">
          <a [routerLink]="['/publication', publication.id_publication]" class="container-photo__link-img">
            <img [src]="getURLPhoto(publication.photo.public_path)" alt="">
          </a>
        </div>
      </div>

      <div class="ui visible message" *ngIf="profile.publications.length == 0">
        <p> No tiene publicaciones
        </p>
      </div>
    </div>
  </div>

  <div class="ui visible message" *ngIf="!profile">
    <p> Cargando
    </p>
  </div>
</main>



