<main class="main">
  <div class="main__container">
    <form #createPublicationForm="ngForm" (submit)="onSubmitCreatePublication(createPublicationForm)">
      <article class="container__article">
        <div class="article__upload-photo">
          <div class="txt-btn-new-publication">
            <div class="txt-new-publication">
              <h3>Nueva Publicación</h3>
            </div>
            <div class="btn-new-publication">
              <label class="ui button link_button" for="myPhoto">
                <i class="ion-image icon-photo"></i>
                Subir Foto
              </label>
              <input type="file" id="myPhoto" accept="image/jpeg" style="display: none;"
                     (change)="handleFileSelect($event)">
            </div>
          </div>

          <div class="photo-container">
            <div class="photo">
              <img src="assets/images/uploadPhoto.png" #imageUpload class="img-upload">
            </div>
          </div>

        </div>
        <div class="article__info-photo">
          <div class="ui form">
            <div class="field">
              <label>Comenta!!</label>
              <textarea name="description" #description="ngModel"
                        [(ngModel)]="publication.description" required></textarea>
            </div>
            <div class="field">
              <label>Ubicación</label>
              <textarea required rows="2" name="location" #location="ngModel"
                        [(ngModel)]="publication.location"></textarea>
            </div>
          </div>
          <div class="btn-comment-location">
            <input value="Publicar" type="submit" class="ui button link_button">
          </div>
        </div>
      </article>
    </form>
  </div>

</main>
