<div class="profile_photo">
  <div class="profile-photo__container-row">
    <div class="profile-photo__container-photo">
      <a href="" class="container-photo__link-img"><img src="assets/images/foto1.jpg" alt=""></a>
    </div>
    <div class="profile-photo__container-photo">
      <a href="" class="container-photo__link-img"><img src="assets/images/foto1.jpg" alt=""></a>
    </div>
    <div class="profile-photo__container-photo">
      <a href="" class="container-photo__link-img"><img src="assets/images/foto1.jpg" alt=""></a>
    </div>
  </div>
  <div class="profile-photo__container-row">
    <div class="profile-photo__container-photo">
      <a href="" class="container-photo__link-img"><img src="assets/images/foto1.jpg" alt=""></a>
    </div>
    <div class="profile-photo__container-photo">
      <a href="" class="container-photo__link-img"><img src="assets/images/foto1.jpg" alt=""></a>
    </div>
    <div class="profile-photo__container-photo">
      <a href="" class="container-photo__link-img"><img src="assets/images/foto1.jpg" alt=""></a>
    </div>
  </div>
</div>
