<app-navbar *ngIf="identity"></app-navbar>
<router-outlet *ngIf="identity"></router-outlet>

<div *ngIf="!identity" class="container-general">
  <div class="container-general__wrap">
    <div class="wrap__container">
      <div class="container-data">
        <div class="container-left">
          <div class="logo__container">
            <a href="#"> Flistagram</a>
          </div>
          <div class="container-share-easy">
            <p>Comparte tus fotos</p>
          </div>
          <div class="container-about-flistagram">
            <p>Comparte fotos, sigue a personas que desees</p>
          </div>
        </div>
        <div class="container-right login" *ngIf="!register">
          <app-login></app-login>
          <div class="not-account">
            ¿No tienes una cuenta? &nbsp;| <span (click)="setRegister(true)">Registrarse</span>
          </div>
        </div>
        <div class="container-right" *ngIf="register">
          <app-register></app-register>
          <div class="recover-pass">
            ¿Tienes cuenta? &nbsp;| <span (click)="setRegister(false)">Iniciar sesión</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-copyright">
    <p> &#9400; Flisol 2018 - UNPRG</p>
  </div>
</div>


