
.container-general {
  height: 100%;
  background-image: url(assets/images/fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;

  &__wrap {
    display: flex;
    background: rgba(393, 86, 99, -58);
    width: 100%;

    justify-content: center;
    align-items: center;

    .wrap__container {
      width: 100%;
      margin: 80px auto 0;
      max-width: 935px;

      .container-data {
        display: flex;
        .container-left {
          color: white;
          width: 50%;

          .logo__container {
            font-family: 'Kaushan Script', cursive;
            font-size: 25pt;
            padding: 20px 0px 10px 0px;
            a {
              color: white;
            }

          }
          .container-share-easy {
            font-size: 2em;
            line-height: 1;
            padding: 10px 0px 10px 0px;
          }
          .container-about-flistagram {
            padding: 10px 0px 5px 0px;
            font-size: 1.4em;
          }
        }
        .container-right {
          width: 50%;
          .color-form {
            background: transparent;

          }
          .recover-pass {
            font-size: 1.2em;
            p {
              margin-bottom: 5px;
              display: flex;
              justify-content: center;
              color: white;
            }
            a {
              padding-bottom: 12px;
              color: midnightblue;
              display: flex;
              justify-content: center;
            }
          }
          .start-fb {
            a {
              margin-top: 21px;
              display: flex;
              justify-content: center;
              color: white;
              font-weight: bold;
              font-size: 20px;
            }
          }
          .not-account {
            padding-top: 40px;
            display: flex;
            justify-content: center;
            p {
              font-weight: bold;
            }
            a {
              color: white;
            }
          }

        }
      }
      .container-copyright {
        color: white;
        display: flex;
        align-items: flex-end;
        background-color: #a0b605;
      }
    }
  }
  .container-copyright {
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
  }
}
