<div class="navbar">
  <div class="navbar__container">
    <div class="column logo">
      <div class="logo__container">
        <a [routerLink]="['home']"> Flistagram</a>
      </div>
    </div>
    <div class="column">
      <div class="ui icon input">
        <i class="ion-ios-search icon"></i>
        <input type="text" placeholder="Buscar...">
      </div>
    </div>
    <div class="column links">
      <a [routerLink]="['/user', entity.username]"><i class="ion-ios-person-outline"></i></a>
    </div>
  </div>

</div>
